@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<a href="/Movies/New" class="btn btn-primary">+ Movie</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <a href="/Movies/Details/@movie.Id">@movie.Name</a>
                </td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>

