@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h2>Details</h2>
    <div>We don't have that customer!</div>
}
else
{
    
    <h2>@Model.Name</h2>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.Birthdate != null){
            <li>Birthdate: @Model.Birthdate</li>
        }
    </ul>
}



