@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    <a href="/Customers/Edit/@customer.Id">@customer.Name</a>
                </td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>

