@model Vidly.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@*Html.BeginForm only render the opening form tag. Use 'using' to self-dispose, which will include the closing tag*@ 
@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Birthdate">Date of Birth</label>
        @Html.TextBoxFor(c => c.Birthdate, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
}
